    <td valign=top class="edimg"
        style="padding: 0px; box-sizing: border-box; text-align: center;">
        <a href="##href##" target=_blank
           style="font-size: 14px;direction: rtl;color: #ffffff;font-family: Tahoma, Geneva, sans-serif;font-weight: normal;text-decoration: none;display: inline-block;width: 100%;">
            <img src="##src##"
                 alt="##alt##" width=620
                 style="border-width: 0px;border-style: none;max-width: 620px;width: 100%;">
        </a>

    </td>